.copyright
    - var hexoURL = "https://hexo.io/";
    - var bluebubuURL = "https://github.com/retchart/hexo-theme-bluebubu";
    - var currentDate = new Date();
    - var year = currentDate.getFullYear();
    - year = year == theme.startyear ? year : theme.startyear + ' - ' + year;
    p © #{year} #[a(href=config.weibo, target="_blank")!= "Rechart"], powered by #[a(href=hexoURL, target="_blank") Hexo] <br> and #[a(href=bluebubuURL, target="_blank") hexo-theme-bluebubu]
    p 
        span(style="padding-right: 6px;")